<!DOCTYPE html>
<html>
  <head>
        <title>TODOS</title>
        <link rel = "icon" href = "https://designvault.io/wp-content/uploads/2020/04/icon-todoist.png" 
        type = "image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <style>
            body{
              overflow: hidden;
              margin: 0px;
              padding: 0px;
  }
  table{
                background-color: #e25137;
                border-style: solid;
                border-color: whitesmoke;
                
            }
.header{
    height: 45px;
    background: #e25137;

}
.body1{
  margin-top: 45px;
  width: 100%;
}

.left{
  width: 30%;
}
.middle{
  position: relative;
  margin-left: 30%;
  width: 50%;
  background-color: #e25137;
}
.toleft input[type=text] {
  position:absolute;
    padding: 5px;
    border:none;
    margin-left: 20px;
    margin-top: 8px;
    font-size: 17px;
  }
.toleft i{
  margin-left: 20px;
  margin-top: 6px;
}
 
  .toright i{
    position:relative;
    right: 20px;
    top: -20px;
    float: right;
    margin-right: 20px;
    margin-top:-5px
  }
  .toright button{
    position:relative;
    float: right;
    cursor: pointer;
    margin-top:-20px ;
    display: contents;

  }
  .body1{
  margin: 0;
  overflow-x: hidden;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .main {
  transform: translateX(300px);
}



.nav {
  width: 250px;
  height: 100vh;
  position:relative;
  top: 0;
  left: 0;
  background: #e25137;
  transform: translateX(-350px);
  transition: transform 0.2s;
  overflow: hidden;
}

.nav-close {
  background: none;
  display: flex;
  align-items: center;
  border: none;
  padding: 15px 25px;
  margin-left: auto;
  cursor: pointer;
}

.nav-close:hover {
  background: E9D9AB;
}

.nav__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  text-decoration: none;
  color:white
}

.nav__text {
  font-size: 18px;
  color: white;
  font-family: "Assistant", sans-serif;
  font-weight: 300;
}

.nav__link:hover {
  background: rgba(255,255,255,0.2);
}

.main {
  transition: transform 0.2s;
}
.menu:hover{
    background: rgba(255,255,255,0.2);

}
.nav{
  box-shadow: 20px 0 10px rgba(0, 0, 0, 0.15);

}
i{
  cursor:pointer;
}

.sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;

}
.sub-menu-link p{
  width: 100%;

}
#xright{
  display: none;
  position: relative;
  float: right;
  top: -746px;
  left: 0px;
  background-color: #e25137;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.15);
}
.pro a {
  cursor: pointer;
  padding: 5px 10px;
  border-top: none;
  min-width: 150px;
}

.pro {
  border: none;
  padding: 0;
  border-radius: 4px;
  position: relative;
}

.pro a:hover {
  background-color: rgba(255,255,255,0.2);
}


/* .middle {
  position:absolute;
  height: 50px;
  width: 50px;
  color: #e25137;
} */







        </style> 
    </head>
    <body>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script>
            function toggleNav() {
              document.body.classList.toggle("nav-open");
            }
            function clear() {

                var x = document.getElementById("xright");
                if (x.style.display === "none") {
                  x.style.display = "block";
                } else {
                  x.style.display = "none";
                }
            }
            
        </script>
        <div class="home">
            <div class="header">
                <div class = "toleft">
                        <button onclick="toggleNav()" class= "menu" style="background-color:#e25137;border: none"><i class="fa fa-bars" style="font-size:26px;color:white"></i></button>
                        <i class="fa fa-home" style="font-size:30px; color:white"></i>
                        <a><input type="text" placeholder="Search.." ></a>
                </div>
                <div class = "toright">
                    <button onclick="clear()"><i class="fa fa-user" style="font-size:26px;color:white"></i></button>
                    <i class="fa fa-bell" style="font-size:30px;color:white"></i>
                    <i class='fas fa-chart-line' style='font-size:30px;color:white'></i>
                    <i class="fa fa-plus" style="font-size:30px;color:white"></i>
                </div>
            </div>

            <div class="body1">
              <div class="left">
                <nav class="nav">
                    <main class="main"><button type="button" class="nav-close" onclick="toggleNav()"></button></main>
                    <div class="nav-links-container">
                      <a href="#" class="nav__link">
                        <span class="nav__text">Inbox</span>
                        <ion-icon name="mail-outline" size="large"></ion-icon>
                      </a>
                      <a href="#" class="nav__link">
                        <span class="nav__text">Today</span>
                        <ion-icon name="calendar-number-outline" size="large"></ion-icon>
                      </a>
                      <a href="#" class="nav__link">
                        <span class="nav__text">Upcoming</span>
                        <ion-icon name="calendar-outline" size = "large"></ion-icon>
                      </a>
                      <a href="#" class="nav__link">
                        <span class="nav__text">Filters and Labels</span>
                        <ion-icon name="filter-outline" size = "large"></ion-icon>
                      </a>
                    </div>
                </nav>
              </div>
              <div class="middle">
                  
              </div>

                  <div id="xright">
                      <ul class="pro">
                        <a href="#" class="nav__link"><span class="nav__text1">Edit profile</span></a>
                        <a href="#" class="nav__link"><span class="nav__text1">Settings</span></a>
                        <a href="#" class="nav__link"><span class="nav__text1">Themes</span></a>
                        <a href="#" class="nav__link"><span class="nav__text1">Logout</span></a>

                      </ul>
                  </div>
              </div>
        </div>
    </body>
  </html>
